<!--优惠券说明-->
<ion-view can-swipe-back="false" class="rule">
    <ion-header-bar class="ujing-header">
        <a class="button button-icon ion-ios-arrow-left text-left font-adjus color-white" ng-click="goBack()"></a>
        <h1 class="title">优惠券说明</h1>
    </ion-header-bar>
    <ion-content>

        <div class="rule-list">
            <h4 class="title">1.什么是优惠券？</h4>
            <p class="description">优惠券是U净发行和认可的抵用券，优惠券分为首单免券、折扣券、补偿券，可以在使用U净洗衣服务付款时抵扣相应折扣金额或相应面值的金额</p>
        </div>

        <div class="rule-list">
            <h4 class="title">2.如何获取优惠券？</h4>
            <p class="description">U净手机客户端和网站会不定期展开送折扣券活动，手机用户可以经常打开U净手机客户端，关注弹出的活动通知，机会不容错过！首单免券为在U净运营活动时间范围内，首次下载赠送的首单免费使用的抵扣券；补偿券是用户洗衣出现问题时，经评定后符合补充标准的，U净平台或者加盟商补偿用户的同等金额的抵扣券</p>
        </div>
        <div class="rule-list">
            <h4 class="title">3.如何使用优惠券？</h4>
            <p class="description">在手机端付款时，都可以选择使用优惠券，抵扣相应的金额</p>
        </div>
        <div class="rule-list">
            <h4 class="title">4.优惠券找零兑现吗？</h4>
            <p class="description">优惠券不找零，不兑现。付款时优惠券会被优先使用，不足款项由其它方式支付。</p>
        </div>

        <div class="rule-server">U净客服电话：<span class="link" ng-click="views.tel('0510-81082426')">0510-81082426</span></div>
    </ion-content>
</ion-view>
