<ion-view can-swipe-back="false" class="scan home">
    <ion-header-bar class="ujing-header">
        <a class="button button-icon ion-ios-arrow-left text-left font-adjus color-white" ng-click="views.directoryBack()"></a>
        <h1 class="title">扫码洗衣</h1>
        <a class="icon icon-message" ng-class="{'active': isMessage}" ng-click="views.directoryBack('message')"></a>
    </ion-header-bar>
    <div class="bar bar-subheader ujing-subheader scan-home-head" ng-click="goBack()">
        <div class="con-left">
            <span class="no">NO.</span>
            <span class="num">{{views.store.no}}</span>
        </div>
        <div class="con-right">
            <p class="type">{{views.store.deviceTypeId.shortName || ''}}</p>
            <p class="store">{{views.store.storeId.name + '洗衣房'}}</p>
        </div>
    </div>

    <ion-content class="home-device" ng-class="{'has-maldevice': views.isMalDevice, 'has-tabsDevice': views.laundryDeviceList.length > 0}" scrollbar-y="false" delegate-handle="small">
        <!--洗衣模式-->
        <div class="model-info" ng-if="views.store.washModelList.length > 0">
            <div class="home-item" ng-repeat="item in views.store.washModelList track by $index" ng-click="views.showDescription(item, $index)">
                <a class="item home-row">
                    <i class="icon-model {{item.deviceWashModelId.icon}}" ng-class="{'standard-wash': item.deviceWashModelId.workmodel === '标准洗',
                    'fast-wash': item.deviceWashModelId.workmodel === '快速洗',
                    'big-wash': item.deviceWashModelId.workmodel === '大件洗',
                    'single-wash': item.deviceWashModelId.workmodel === '单脱水',
                    'standard-dry': item.deviceWashModelId.workmodel === '标准烘',
                    'super-dry': item.deviceWashModelId.workmodel === '超强烘'}"></i>

                    <span class="item-type">
                        <time class="time">{{item.deviceWashModelId.time}}</time><br/>
                        <strong class="model">{{item.deviceWashModelId.workmodel}}</strong>
                    </span>

                    <span class="item-prices">
                        <span class="wash-prices" ng-if="views.deviceObj.shortName != '干衣机'" ng-class="{'promotion-price': item.promotionPrice, 'normal-price': !item.promotionPrice}">
                            <del class="price" >
                                <span class="price-currency">￥</span>
                                {{item.washPrice || item.deviceWashModelId.basePrice | currencyNumber}}
                            </del><br/>
                            <strong class="promotion">
                                特惠
                                <span class="num">
                                    <span class="price-currency">￥</span>{{item.promotionPrice | currencyNumber}}
                                </span>
                            </strong>
                        </span>

                        <span class="dry-prices" ng-if="views.deviceObj.shortName == '干衣机'">
                            <sup class="sup">
                                <span class="price-currency">￥</span>
                                <span class="prc">{{item.promotionPrice || item.washPrice || item.deviceWashModelId.basePrice | currencyNumber}}</span>
                            </sup>
                            <!--<span class="line-slash"></span>-->
                            <sub class="sub">{{item.deviceWashModelId.time || '10'}}min</sub>
                        </span>
                    </span>

                    <span class="item-btn">
                        <button class="btn-small" ng-click=" views.reserveShow($event, item) ">预订</button>
                    </span>
                </a>
                <div class="home-description" ng-if="item.isShowModel">
                    <i class="icon icon-warning-yellow"></i>{{item.deviceWashModelId.description}}
                </div>
            </div>
        </div>
        <!--<div class="model-info ml-30" ng-if="views.store.washModelList.length === 0">-->
            <!--该洗衣房下暂无设备！-->
        <!--</div>-->
        <!--空闲提醒-->
        <!--<div class="empty-info" ng-if="views.store.washModelList.length === 0">-->
        <div class="empty-info" ng-if="views.store.washModelList.length === 0">
            <div class="legend-title">
                目前没有空闲机器，建议使用”预订提醒“
            </div>
            <div class="row empty-con">
                <div class="empty-mes col col-80">
                    <p class="mes">机器空闲时提醒我预订</p>
                    <p class="valid">预订提醒2小时内有效</p>
                </div>
                <div class="empty-btn col col-20">
                    <a class="btn-small" ng-click="views.setAppointmentReminder()">预订提醒</a>
                </div>
            </div>
        </div>

        <!--营业信息-->
        <div class="shop-info">
            <div class="contact">
                <div class="contact-shop">
                    <div class="address only-has-one-text">
                        <i class="icon icon-place"></i>
                        {{views.store.storeId.address}}
                    </div>
                    <div class="time">
                        <i class="icon icon-shop-hours"></i>
                        营业时间：<time>{{views.store.storeId.businessStartTime}} - {{views.store.storeId.businessEndTime}}</time>
                    </div>
                </div>
                <div class="contact-tel" ng-click="views.tel()">
                    <i class="icon icon-phone"></i>
                </div>
            </div>
        </div>

        <!--<not-data-tips ng-if="views.isRequest"></not-data-tips>-->
        <div class="spacing-padding has-footer"></div>
    </ion-content>
</ion-view>



